{% extends 'index1.html' %}

{% block content %}

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/img/les1.jpg" height=250px>
            <div class="card-body">
              <p class="card-text">Поговорим о том - что такое язык и что именно из себя представляют языки программирования</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/python1"><button type="button" class="btn btn-dark rounded-pill px-3 zz">Открыть Урок</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/img/les2.jpg" height=250px>
            <div class="card-body">
              <p class="card-text">Поговорим о самой известной и самой важной функции языка Python</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/python2"><button type="button" class="btn btn-dark rounded-pill px-3 zz">Открыть Урок</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/img/les3.jpg" height=250px>
            <div class="card-body">
              <p class="card-text">Поговорим о том, как можно вносить данные в свою программу</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/python3"><button type="button" class="btn btn-dark rounded-pill px-3 zz">Открыть Урок</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="../static/img/les4.jpg" height=250px>
            <div class="card-body">
              <p class="card-text">Поговорим о том, что такое алгоритмы и порисуем - применим черепашью графику</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/python4"><button type="button" class="btn btn-dark rounded-pill px-3 zz">Открыть Урок</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/img/les5.jpg" height=250px>
            <div class="card-body">
              <p class="card-text">Поговорим о том, что такое линейный алгоритм, напишем пару программ</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/python5"><button type="button" class="btn btn-dark rounded-pill px-3 zz">Открыть Урок</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/img/les6.jpg" height=250px>
            <div class="card-body">
              <p class="card-text">Поговорим о том, как поступать если в алгоритме возникает выбор или неопределенность</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/python6"><button type="button" class="btn btn-dark rounded-pill px-3 zz">Открыть Урок</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/img/les7.jpg" height=250px>
            <div class="card-body">
              <p class="card-text">Поговорим о том, как правильно задавать компьютеру наводящие вопросы</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/python7"><button type="button" class="btn btn-dark rounded-pill px-3 zz">Открыть Урок</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/img/skoro.jpg" height=250px>
            <div class="card-body">
              <p class="card-text">Этот урок пока только готовиться. Подождите немного! Спасибо!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/python8"><button type="button" class="btn btn-dark rounded-pill px-3 zz">Открыть Урок</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/img/skoro.jpg" height=250px>
            <div class="card-body">
              <p class="card-text">Этот урок пока только готовиться. Подождите немного! Спасибо!</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-dark rounded-pill px-3 zz">Открыть Урок</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content%}