{% extends 'index1.html' %}

{% block content %}
<div class="container">
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;"><em><strong>Добро пожаловать в 6 урок.</strong></em></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: left;">Знакомьтесь это наш с Вами новый друг в мире программирования - Сеймур Паперт! Эксцентричный и веселый дядька. Он математик, программист, психолог и педагог. Один из основоположников теории искусственного интеллекта, создатель языка Logo (1968).</p>
    <p style="text-align: center;"><em><strong><img src="../static/img/ss1.png" width=100% alt="se" /></strong></em></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: left;"><center><em><strong>Вот что о нем пишут газеты:</strong></em></center></p>
    <br>
    <div class="primer">
        <p style="text-align: left;"><span>Сеймур Паперт, математик и пионер в области образования, изобрел черепашку в 1960-х годах. Черепашка - это роботизированная игрушка с механическими ножками, которая может двигаться по командам, заданным через компьютер. Он создал черепашку, чтобы помочь детям изучать математику и программирование, используя простой и интерактивный подход. Это стало важным шагом в развитии образования, и черепашка до сих пор используется в школах и университетах по всему миру. Вот так выглядит его черепашка.</span></p>
        <iframe width=100% height=630px src="https://www.youtube.com/embed/XIdOR9n398c?si=r5fQE1hUt6HoA0_W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <p style="text-align: left;">&nbsp;</p>
    <p style="text-align: left;">Если говорить своими словами, то Сеймур Паперт очень значимый человек в области информатики и образования. Он постоянно думал о том, как научить новое поколение школьников и студентов программированию. Программирование того времени, выглядело для детей и студентов достаточно сложным и неинтересным, а что-бы управлять роботом черепашкой из видео - нужно было хотя бы чуть-чуть знать робототехнику. Нужен был какой-то новый простой и интересный подход. Который, полюбят и дети и студенты. После долгих лет поисков решения и стараний Сеймур изобрел свой собственный язык logo. Используя этот язык можно было управлять виртуальной черепашкой, передвигая ее по экрану монитора, что очень нравилось детям того времени.</p>

    <p style="text-align: left;">&nbsp;</p>
    <p style="text-align: left;"><img src="../static/img/ss2.jpg" width=100% alt="йййй" /></p>
    <p style="text-align: left;">&nbsp;</p>

    <p>Вдохновившись примером Сеймура Паперта, сегодня&nbsp;появилось очень много программ и интерактивных героев, которыми можно управлять при помощи программирования. Среди самых знаменитых Minecraft Edu, Scratch, Kodu Game Lab. Иными словами Сеймур - вдохновил других педагогов и разработчиков идти по пути наглядного и в каком-то смысле забавного игрового программирования.<br /><br />Спустя годы, вдохновился примером Сеймура Паперта - педагог Грегор Лингл (учитель информатики, математики и физики). Грегор Лингл помог создать для языка Python - свою версию черепашки (то есть свою версию идеи Сеймура Паперта, для языка Python). И сегодня, мы воспользуемся этой черепашкой.&nbsp;</p>
    <p>НО! ПРЕЖДЕ, ЧЕМ МЫ ПОЙДЕМ ДАЛЬШЕ! Нам нужно - поработать с переводчиком. Для управления черепашкой - нам не подойдет python-online, он не поддерживает рисование черепашкой. Поэтому, обязательно сделайте все шаги показанные на видео - ниже. До сих пор мы с Вами программировали на сайте python-online. Но настало время, когда нам нужно будет установить себе настоящую среду разработки.</p>
    <p>&nbsp;</p>
    <p><video src="../static/video/nik111.mp4" controls="controls" width=100%>
    <source src="вв" />
    <source src="ввв" /></video></p>

    <a href="https://github.com/thonny/thonny/releases/download/v3.3.13/thonny-3.3.13.exe"><button class="btn btn-primary" type="button">тыкни сюда --> что бы скачать среду разработки</button></a>
    <p>&nbsp;</p>

    <p>Мы же с Вами уже научились пользоваться командами print() и input(). Дело в том, что когда мы скачиваем себе переводчик на компьютер, мы как бы скачиваем себе наборы команд, которыми мы сможем пользоваться. Пока мы программировали через сайт, наши команды отправлялись на удаленный компьютер, где уже установлен переводчик. Поэтому у нас все и получалось. Теперь же мы сами себе на компьютер установили переводчик(среду разработки) и пользоваться сайтом - нам больше не нужно.</p>
    <p>Среди наборов огромного множества программ, которые мы установили себе на компьютер в комплекте с переводчиком, есть набор команд turtle (программа черепашки для питона) - разработанный с участием Грегора Лингла, вы даже можете прочитать его аннотацию в самом начале этого набора команд. </p>
    <p>&nbsp;</p>
    <p><img src="../static/img/gregor.jpg" width=100% alt="картинка импорта" /></p>
    <p>&nbsp;</p>

    <p>Подведем небольшой итог:</p>
    <p>Благодаря Сеймуру Паперту, интерактивное (игровое) программирование начало набирать популярность, появилось очень много программ, которые учат детей основам программирования через игры. Для языка питон, свою версию черепашки Сеймура Паперта написал преподаватель Грегор Лингл. Его набор команд (программа) изначально присутствует в переводчике (среде разработки), который мы установили себе на компьютер - и называется "turtle". Именно этой программой мы и собираемся воспользоваться.&nbsp;</p>
    <p>Кусочек инструкций - ниже. Показанный на картинке, это и есть использование программы Грегора Лингла. Мы как бы берем из его программы (он нам сам разрешил) - нужные нам команды.</p>
    <p>&nbsp;</p>
    <p><img src="../static/img/import.jpg" width=100% alt="картинка импорта" /></p>
    <p>&nbsp;</p>
    <p>С помощью команды import мы забираем в свою программу в коробочку t все команды из программы turtle. То есть из той самой программы Грегора Лингла, о которой мы с Вами говорили выше.</p>
    <p>Идея проста до безумия. Представьте что на белом ватмане, ползает черепашка. Вы привязываете к черепашке кисточку или карандаш и можете просить черепашку с помощью команд двигаться в каком-то направлении. При движении черепашка будет оставлять за собой след от кисточки.</p>
    <p>&nbsp;</p>
    <p><img src="../static/img/box-t.jpg" width=100% alt="картинка импорта" /></p>
    <p>Команд в программе turtle огромное множество, но мы разберем с Вами (пока-что) самые популярные и самые простые&nbsp;.</p>
    <p>Итак из нашей коробки t ----&gt; берем команду<strong> forward()</strong>.</p>
    <ul>
    <li><strong>forward</strong> - заставляет черепашку ползти вперед. И тут важно понять, что значит вперед. Важно понимать, что мы смотрим на черепашку как-бы сверху. Раз мы наблюдаем сверху, то черепашка может поворачивать свою голову во все стороны. И вперед - это туда куда смотрит голова черепашки. Это как для Вас в реальной жизни, для Вас вперед - это туда куда вы смотрите.&nbsp;<br />Команда вперед - также как и другие команды питона, которые мы с Вами изучали состоит из заклинания forward и взмаха волшебной палочки - (). Внутри скобочек команды forward() -&gt; следует указать сколько пикселей ей нужно проползти.&nbsp;</li>
    <li><strong>back</strong> -&nbsp; противоположность команде forward(). Назад - это значит в противоположною сторону той, куда сейчас смотрит черепаха. Back - также состоит из заклинания back и скобочек() и аналогично команде forward() внутри мы прописываем число, сколько черепашка должна пройти пикселей в направлении назад.</li>
    <li><strong>left -&nbsp;</strong>заставляет черепашку поворачиваться влево на некоторое количество градусов. Также состоит из заклинания left и взмаха волшебной палочкой (). Внутри скобочек команда left ждет число, указывающее насколько сильно ей нужно повернуться влево от текущего положения. Важно понимать, что если вы попросите черепашку повернуться влево на 90 градусов, то следующией поворот влево - будет уже от последнего принятого положения.</li>
    <li><strong>right</strong> - заставляет черепашку повернуться вправо на некоторое количество градусов. Работает так-же как и left, только является инструкцией поворота именно вправо.</li>
    </ul>
    <p>&nbsp;</p>
    <p><img src="../static/img/turtles.jpg" width=100% alt="ходы черепахи" /></p>
    <p></p>
    <br>
    <p>Комбинировать эти команды можно как угодно, каждый раз получая разные фигуры. Главное - располагайте их одна под другой, и представляйте путь черепашки. Из этих команд можно создавать - простые геометрические узоры. Вот примеры.<br /><br /></p>
    <p><img src="../static/img/shapes.jpg" width=100% alt="ходы черепахи" /></p>
    <p></p>
    <p>У всех приведенных примеров есть особенность, как бы мы не меняли местами команды - они все равно выстраиваются в линию, образуя&nbsp;Линейный алгоритм.&nbsp; В языке программирования Python - это последовательность команд, которые выполняются одна за другой, как шаги. Каждая команда выполняется только один раз, без повторений или пропусков.<br /><br /></p>
    <br>
    <div class="primer1">
        <div class="n1">
            <video autoplay muted loop src="../static/video/мяу.mp4"></video>
        </div>
        <div class="n2">
            <p>Можем сократить! Алгоритм это последовательность инструкций. А последовательность инструкций без пропусков и повторов (циклов) - линейная.</p>
                <p>Обратите свое внимание! В Питоне уровни отступа (расстояние от левой границы рабочей области) используются для группировки кода. При помощи отступов, наш с Вами переводчик, понимает какая часть кода к чему относится. Как раз таки линейный алгоритм, всегда будет идти вдоль левой границы рабочей области без отступов.</p>
<p>Но если встречается отступ в 4 пробела - он уже указывает на принадлежность команд с отступом, последнему элементу без отступа. Каждый уровень отступа (обычно 4 пробела или 1 клавиша Tab) показывает, что код находится внутри определенного блока, такого как функция, цикл или условие. &nbsp;</p>
            <p>Линейный алгоритм - это как строить башню из кубиков: когда мы ставим новый кубик, мы должны сдвинуть его немного вправо или влево, чтобы он был выровнен с предыдущим кубиком.</p>
        </div>
    </div>
{% endblock content%}