<p>Добрый день уважаемые ребята, меня зовут Николай Николаевич, в этом
году я буду вашим проводником в мире программирования.</p>
<p>Наш курс называется «Программирование на языке Python»</p>
<p>И прежде чем мы с Вами начнем писать настоящие программы давайте мы
внимательно всмотримся в название нашего курса, все ли нам в нем
понятно.<br />
<br />
Тут есть слова – программирование, язык, Python.</p>
<p>Для начала давайте разберемся со словом «язык». Пожалуй - самое
главное открытие человека за все время существования – это язык. Как
жили люди до появления языка, как у них складывались отношения, как они
понимали друг друга?</p>
<p><em><strong>Проводим эксперимент – без языка!</strong></em></p>
<p><em><strong>С появлением языка, все становится значительно проще,
главное соблюдать одно очень важное условие. Одно и тоже слово у двух
общающихся людей должно в голове значить одно и тоже.<br />
Например слово солнце – для каждого из нас вполне понятно. А инструкция
посмотри на солнце легко нами понимается и
выполняется.</strong></em></p>
<p><em><strong>Другое дело если в разговоре мы скажем – поступи
справедливо. Ведь слово справедливость каждый понимает
по-своему.</strong></em></p>
<p><em><strong>На любом языке можно давать инструкции. Например – встань
и принеси мне из холодильника холодный лимонад – достаточно четкая
инструкция. Выполнить ее легко, потому что каждое слово
однозначно.<br />
<br />
А вот инструкция принеси мне что-нибудь вкусное из холодильника – звучит
для нас уже немного тяжелее.</strong></em></p>
<p><em><strong>По мере развития человечества – языков становилось все
больше и больше. Каждая нация и страна получала свой собственный язык. А
жизнь благодаря тому, что у любого предмета или явления было свое слово
– становилась несказанно легче. Языки стали развиваться человек понял
главную идею – нужно что бы два участника диалога понимали под
каким-либо набором звуков или символов одно и тоже. И вот уже человек
умеет разговаривать с собакой или лошадью. И создает более специфичные
языки азбуку морзе илли язык жестов.</strong></em></p>
<p><em><strong>Появившиеся буквы и слова, слова стали записываться на
бумагу и передаваться от человека к человека, бумага складывалась в
стопки, стопки в сборники, а сборники в книги.<br />
Каждая книга – это описание при помощи слов чего-либо. Книги по одной
теме можно было хранить рядом, и возникают библиотеки. Хранилища –
записанных слов и человеческого опыта.</strong></em></p>
<p><em><strong>Итак главная суть для нас в примере с языком, что ля того
что бы ясно на нем говорить и быть понятым – нужно что бы люди под
определенным набором звуков или слов понимали одно и тоже.<br />
<br />
<br />
ПРОГРАММИРОВАНИЕ! Или причем здесь компьютер.<br />
<br />
<br />
<br />
Каждый из Вас уже умеет программировать. Ведь вы уже знаете русский язык
и способны на нем давать мне инструкции. Попробуйте задать мне
инструкции что бы я прошел 5 шагов вперед и повернулся.<br />
<br />
Логика проста, если я и вы под определенным словом понимает одно и тоже
и я способен и хочу физически выполнить команду. Инструкция будет
исполнена.<br />
<br />
Итак программировать – это значит составлять набор из инструкций!
Довольно просто – да?<br />
<br />
Но причем здесь компьютер? С появлением библиотек – количество
информации в мире настолько выросло. Что один человек уже никак не может
справиться с ее обработкой. Представьте, что вы пришли в большую
библиотеку с заданием посчитать все буквы о во всех
книгах.</strong></em></p>
<p><em><strong>Вам может показаться что никому не нужно в здравом уме
знать количество букв о в книгах. Однако это реальная задача – так порой
бывает просто необходимо знать насколько часто та или иная буква
употребляется в русском языке. Что бы решить эту задачу. Даже страшно
представить сколько времени человеку придется провести с
библиотеке.<br />
<br />
Человеку нужно спать, отдыхать и делать перерывы, а сам человеком очень
медленный, а порой даже ленивый. Нужно было что-то что быстрее человека
и тысячи или даже сотни тысяч раз, чтобы подобные задачи решать за
минуты или секунды.<br />
И человеку удалось найти то, что гораздо быстрее него. Это
электричество.</strong></em></p>
<p><em><strong>Электричество работает со скоростью света. А это примерно
299 792 458 м/с. А это несравнимо быстрее чем человек. Добыв
электричество человек пустил его по проводам и научился с помощью него
передавать информацию. Но как это сделать?<br />
<br />
Пример с кодировкой алфавита и лампочкой.</strong></em></p>
<p><em><strong>Итак мы только что поняли и выучили с Вами язык
электричества или язык компьютера. Удивительно что он состоит только из
двух символов 0 и 1. И способен воспроизводить музыку игры и многое
другое.<br />
<br />
Итак программировать – это давать инструкцию кому то на понятном обоим
языке.<br />
<br />
<br />
<br />
Что же такое Питон?<br />
<br />
<br />
Питон – это язык программирование. Создал его веселый и смешной дядька
Гвидо Ван Россум, а название этому языку он дал благодаря своему
любимому сериалу летающий цирк монти пайтона.<br />
Вспомните себя в детстве наверянка вы придумывали свои языки, и даже
правила общения на нем. Тут что-то похожее. Гвидо придумал свой язык и
правила как на этом языке разговаривать.<br />
</strong></em></p>
<p><em><strong>Вот только нужен этот язык не для того, что бы два
человека разговаривали друг с другом. А для того, чтобы человек
разговаривал с компьютером.<br />
<br />
А теперь самое непонятное. В языке питон нет 0 и 1. Как так? Питон
создан для общения с компьютером верно? А компьютер понимает только язык
электричества верно? Но в питоне нет 0 и 1. Разве тогда они поймут друг
друга? Ответ да! Но! Если у них будет переводчик.</strong></em></p>
<p><em><strong>Пример с общением через переводчика!<br />
<br />
Знакомимся с переводчиком – открываем среду разработки. Именно она
возьмет слова из языка питон и переведет их на язык 0 и 1. Так
программисты и общаются с компьютером при программировании.<br />
<br />
Остается последний вопрос. А как выучить язык. Представьте, что вы учите
английский. Вы берете из языка какое-то слово, сначала понимаете за что
это слово отвечает, как правильно пишется, где и в каком месте
употребляется, какие у него есть правила и исключения (типа жи-ши).
Затем мы выучиваем это слово, и можем им пользоваться. Так мы повторяем
раз за разом, выучивая новые слова. И когда количество выученных нами
слов станет достаточно большим – вы сможем разговаривать с
англичанином.</strong></em></p>
<p><em><strong>Так же и с питоном. Будем представлять язык питон как
большой мешок в котором лежат команды (слова) мы будем доставать по
одной команде, изучать ее, выучивать и брать следующее. Все точно также
как с любым другим языком.<br />
<br />
<br />
ИТАК Практика!<br />
<br />
Мы берем большой мешок с названием Питон и достаем из него первую нашу
команду. И первой нашей командой будет команда print.<br />
<br />
Для начала напишем саму эту команду print и попросим нашего переводчика
перевести ее компьютеру. Ничего не произошло. Дело в том, что мы не
совсем точно ее написали, поэтому компьютер еще нас не понимает.
Правильная запись будет такая print().</strong></em></p>
<p><em><strong>Давай те представим что вы волшебник. Команда принт –
ваше заклинание. Вы произносите его но никакой магии не получается. Все
потому что вы забыли взмахнуть волшебной палочкой.<br />
<br />
Итак рецепт успеха произнести заклинание – написать слово “print” и
взмахнуть волшебной палочкой добавив скобочки (). Команда принт отвечает
за то, что бы вывести какое либо сообщение на экран нашего устройства.
Гвидо Вам Россум считал что техника может общаться с человеком при
помощи своего дисплея. А значит мы можем напечатать на этом дисплее
сообщение – отсюда и слово принт.<br />
<br />
Внутри скобочек – мы можем с Вами указывать компьютеру что именно мы
хотим вывести. Соблюдая только одно правило цифры можно писать без
кавычек а вот текст придется взять в кавычки. Дело в том, что цифры и
буквы это немного разные инструменты. С помощью цифр человек считает
предметы, складывает делит и умножает. Буквы же человек использует что
бы записывая их друг за другом создавать слова. Поэтому у них несколько
разное написание и поведение.<br />
<br />
Цифры можно складывать, делить, умножать и вычитать.<br />
Буквы можно складывать и умножать. Но делить и вычитать нельзя!<br />
<br />
Выполняем упражнения!<br />
<br />
1. Напиши программу, которая выводит на экран твое
имя.</strong></em></p>
<p><em><strong>2. Выведи на экран свое любимое животное и подумай, как
его описать в нескольких словах.</strong></em></p>
<p><em><strong>3. Создай программу, которая выводит на экран твой
возраст.</strong></em></p>
<p><em><strong>4. Напиши программу, которая выводит на экран твое
любимое число.</strong></em></p>
<p><em><strong>5. Выведи на экран свое любимое цветовое сочетание и
подумай, как его описать.</strong></em></p>
<p><em><strong>6. Напиши программу, которая выводит на экран твою
любимую еду.</strong></em></p>
<p><em><strong>7. Выведи на экран свой любимый предмет и подумай, как
его описать.</strong></em></p>
<p><em><strong>8. Напиши программу, которая выводит на экран твое
любимое время года.</strong></em></p>
<p><em><strong>9. Выведи на экран свою любимую игру и подумай, как ее
описать.</strong></em></p>
<p><em><strong>10. Напиши программу, которая выводит на экран твоего
лучшего друга или подругу и подумай, как их описать.</strong></em></p>
