{% extends 'index1.html' %}

{% block content %}
<div class="content container">
    <div class="container">
        <br>
        <br>
        <center><h6><b>Добро пожаловать на 2 урок!</b></h6></center>
        <br>
        <p>В прошлом уроке, мы поговорили с Вами, что такое язык и как людям получается общаться друг с другом и программировать друг друга на русском языке. Также мы выяснили с Вами как язык программирования Python может взаимодействовать с компьютерным языком (используя посредника переводчика).</p>
        <p>Но хотелось бы понять, как мы будем с Вами изучать Python? Легко - как и любой другой язык. Будем учить слова и конструкции по очереди. Это очень легко представить</p>
        <center><img src="../static/img/box4747.jpg" width=60%></center>
        <br>
        <p>Мы - по одному вытаскиваем из коробки шарики (команды языка). Затем досконально изучаем команду. Узнаем как она пишется, что означает, какие имеет особенности и где применяется.

После практики с этой командой. Мы считаем эту команду выученной и берем из коробки новый шарик, повторяя все действия по изучению.

Когда в коробке останется мало шариков. Мы сможем сказать - что выучили python.</p>
        <p>Прежде чем мы вытащим первый шарик. Нужно кое-что прояснить!
            Попробуйте ответить на вопрос, что можно запрограммировать.
            После того - как вы назовете компьютер и роботов.
            Можно вспомнить, что в инструкциях нуждаются многие устройства, например:
            <ul>
            <li>турникеты в метро - должны понимать когда открываться и когда закрываться</li>
            <li>телевизор - должен по разному реагировать на кнопочки пульта</li>
            <li>лифт - должен определить на какой этаж поедет</li>
            </ul>
            <br>
            Продолжать можно бесконечно, от домофона до телефона. Однако, мы точно можем сказать, что устройства показанные на картинке, это устройства, которые помогают человеку в жизни.
            А значит - этим устройствам нужно как-то общаться с человеком и помогать ему. Тогда эти устройства должны были получить способ сигнализировать человеку о своем состоянии (например о состоянии включения, режиме работы, количестве градусов, набранном номере и т.д.)
            Все эти устройства как можно заметить обладают средством общения, через которое человеку можно подать сигнал о своих действиях или желаниях. Дисплеем!
            </p>
        <br>
        <br>
        <center><img src="..//static/img/display.jpg" width=60%></center>
        <br>
        <br>
        <p>Эти устройства используют дисплеи для вывода информационных сообщений сигнализирующих о каком либо событии или режиме работы. Первое чему стоит научиться при программировании это умению выводить такие сообщения.
         Это может показаться не самым интересным стартом в мире программирования, так как мы почему-то не начинаем с разработки игр или искусственного интеллекта. Однако недооценивать вывод сообщений - точно не стоит.
         Это одна из самых главных и самых важных команд в программировании. Понять ее важность можно в мысленном эксперименте, представьте что - вся техника перестала Вам показывать сообщения, в ваших любимых играх - больше нет счетчиков жизней и очков опыта,
         а сайты в интернете перестали использовать текст и состоят только из видео. В этом абзаце я лишь хочу донести до Вас важную мысль, вывод текста на экраны и дисплеи это важная, очень-очень важная часть программирования.</p>
        <br>
        <p> Итак - берем первый шарик!</p>
        <br>
        <center><img src="..//static/img/bounce_1.jpg" width=60%></center>
        <br>
        <br>
        <p>Как работает команда принт? На самом деле довольно сложно. За ней скрыт целый механизм, понять который сейчас - мы попросту не сможем. Могу привести такой пример, мы легко понимаем, как пользоваться радиоприемником. Понимаем, что нужно нажать кнопочку включения,
        настроить волну, прибавить громкость и вуаля мы слышим радио. Но ведь радио использует радиоволны, но как? Надо выбрать радиоволны они могут быть длинными и короткими, еще сделать плату управления, понять как передавать радиоволны на большие расстояния, подвести электричество. В общем, чаще всего мы понимаем как пользоваться вещью, но не совсем до конца понимаем как она работает.
        С командой print то же самое, сейчас мы только поймем как ей пользоваться, а вот то как она работает вы изучите еще не скоро.</p>
        <br>
        <p>Проще всего пока мы только начинающие программисты - использовать магическое мышление. Когда-то индейцы верили, что если станцевать определенный танец можно вызвать дождь. Это и есть пример магического мышления. Мы не совсем понимаем принцип работы программирования и сознательно его упрощаем.
        Скажем, что команды языка python - это заклинания из мира волшебников. Прямо как во вселенной Гарри Поттера.</p>
        <br>
        <div class="nik1">
        <img src="..//static/img/wizard.gif" class="a1">
        <p class="b1"><br>Разделим написанное на нашем шарике на две части. Сначала скажем что "print" - это такое заклинание. Суть которого - вывести что-то на экран. Вторая часть - это скобочки
        "()". Давайте договоримся что скобочки - это взмах волшебной палочки, без которого не случится магии. Итак, для того, чтобы произошла магия, нужно произнести print и взмахнуть волшебной палочкой ().
        Получится print(). Однако если написать эту команду и запустить программу, мы ничего не увидим и ничего не произойдет. Для того, что бы вывести что-то на экран - мы должны еще подсказать компьютеру, что именно хотим вывести, указывая это в скобочках.
        <br><br>
        Теперь соберем это все вместе. Произносим заклинание - print. Добавляем в конце взмах волшебной палочкой - (). Получается print() и внутри скобочек попросим чтобы компьютер вывел нам цифру 1.
        Все вместе - получается print(1).<br><br>
        Когда наша среда программирования (место где мы пишем код / наш переводчик) натыкается на написанную нами инструкцию print(1). Она переводит это компьютеру - "Уважаемый компьютер - программист просит Вас вывести цифру 1 на дисплей". И когда все друг друга поняли
        радостно нам это исполняет.</p>
        </div>
        <br>
        <br>
        <br>
        <center><p><b>Пример написания первой программы</b></p></center>
        <center>
        <a href="https://www.online-python.com/"><button class="btn btn-primary" type="button">тыкни сюда -- что-бы перейти на сайт Online-Python</button></a>
        </center>
        <br>
        <div>
            <center><video controls="controls" src="../static/video/film47.mp4" width=100%></video></center>
        </div>
        <br>


    </div>
</div>
{% endblock content%}