{% extends 'index1.html' %}

{% block content %}
<div class="container">
    <p>&nbsp;</p>
    <p style="text-align: center;"><em><strong>Добро пожаловать на третий урок!</strong></em></p>
    <p>&nbsp;</p>
    <p>В прошлом уроке, мы научились с Вами при помощи команды print() выводить информацию на экран. Это делалось примерно так: print(1).</p>
    <p>Итак, команда print - позволяет указывать в своих скобочках, то - что именно мы хотим вывести. И в этом месте урока, нам бы нужно с Вами задуматься, а что еще можно написать в скобочках, какие еще виды информации мы можем написать внутри команды print().</p>
    <br>
    <center><img src="../static/img/mem2.jpg" width=70%></center>
    <br>
    <p>При запуске команды print(1). Наш переводчик - всегда будет пытаться понять, что именно находиться в скобочках. И если честно, находиться внутри скобочек может очень многое. НО! Начнем с двух интуитивно понятных видов информации - цифры и буквы. Этими типами информации владеет каждый современный человек.</p>
    <p>В древности цифры появились из-за необходимости человека предсказывать на какое время ему хватит еды, на две ночи или на три. И созданы цифры были для того, что бы выражать количественную меру вещей. Мы сходили на охоту и принесли 3 куска мяса и 2 лукошка ягод. Одним куском мяса и одним лукошком поделимся с другим племенем. Необходимость решать такие задачи у древнего человека привела к тому, что цифры постепенно научились складывать, делить, вычитать и умножать.</p>
    <br>
    <center><img src="../static/img/ancient.jpg" width=100%></center>
    <br>
    <p>А вот буквы появились для другой задачи. Если я скажу вам слово "Яблоко", скорее всего ваш мозг воспроизведет Вам из памяти целую модель яблока. Вам, скорее всего, удастся вспомнить его цвет, размер, запах, вкус, ощущения когда держишь его в руках. Конечно же, вы вспомните как оно примерно выглядит. То есть наш мозг хранит так весь мир, для каждого предмета или идеи в этом мире у нас есть модель. И буквы нужны были для того, что бы каждой такой модели дать имя, сохранить на бумаге в виде букв и передавать дальше. Поэтому буквы нельзя поделить или вычесть. Просто попробуйте сами ответить на вопрос, что будет если из буквы Г вычесть Д. Это невозможно, потому что буквы, создавались совершенно с другой целью нежели цифры. Но и на цифрах вряд ли мы можем с вами - хорошо разговаривать, разве поймете вы меня если я подойду к Вам и скажу 04357?</p>
    <br>
    <center><img src="../static/img/write.jpg" width=100%></center>
    <br>
    <p>Итак, надеюсь нам удалось уловить - главную суть, буквы и цифры, это совершенно разные виды информации. Цифры нужны для выражения количества или меры чего-либо, а буквы для обозначения и записи объектов в мире. Подведем итог.</p>
    <p>Цифры - можно складывать, делить, умножать и вычитать!</p>
    <p>Буквы - можно складывать (м + а + м + а = мама) и умножать (м * 8 это то же самое, что м записанная восемь раз подряд - мммммммм). Тут идея в том, что сложение букв - это то же самое, что их запись одна за другой в тетради. То есть их сложение. А умножение это просто повторенное несколько раз сложение (м * 8 - тоже самое что м + м + м + м + м + м + м + м). Но вот вычитать буквы или делить буквы уже нельзя. Если пока эта часть лекции, Вам не поддалась, попробуйте вспомнить как в детстве вы складывали буквы используя такие вот кубики.</p>
    <br>
    <center><img src="../static/img/kubs.jpg" width=60%></center>
    <br>
    <p>Если мы с Вами поняли про разные виды информации (буквы и цифры). То давайте поговорим о том, как нам указывать переводчику, что хотим вывести буквы или цифры на экран.</p>
    <p>Если мы хотим вывести цифры - то мы просто указываем эти цифры внутри команды print(). Например:</p>
    <div class="primer">
    <p>*print(1)<br />*print(2)<br />*print(9)<br />*print(17)<br />*print(117)<br />*print(12323)</p>
    </div>
    <p>Сразу же можно проверить, доступно ли нам в питоне складывать делить вычитать и умножать цифры.</p>
    <div class="primer">
    <p>*print(1 + 1)<br />*print(2 * 3)<br />*print(7 + 10)<br />*print(15 + 27)<br />*print(2134 + 23434)<br />*print(2 - 1)<br />*print(8 / 2)</p>
    </div>
    <p>/ - это операция деления в Python, и заменяет стандартный и привычный нам символ :</p>
    <p><br />С буквами дела обстоят несколько иначе. Для того, что бы переводчик понял, что мы, имеем ввиду - такой тип информации как буквы. Мы с вами должны использовать кавычки '' или "" (одинарные или двойные). Пример использования:</p>
    <div class="primer">
    <p>*print('привет мир')<br />*print('hello world')<br />*print("мама")<br />*print("dad")</p>
    </div>
    <p>Обратите свое внимание такие команды - переводятся нашему компьютеру примерно так: - Уважаемый компьютер выведи пожалуйста, на экран, буквы 'hello world'. И еще обратите свое внимание на то, что кавычки должны совпадать спереди и сзади. Если вы начали писать с одинарных кавычек ими и нужно закончить.</p>
    <p>Ну и наконец, напоследок - самое сложное! Попробуйте понять что это значит <b>print('1')</b>. Все внимание уделяем здесь единице в кавычках. Как так? Мы что говорим компьютеру вывести цифру один как букву. Ведь 1 - это цифра, а кавычки используются если мы хотим вывести буквы.</p>
    <p>Все дело в том, как именно человек хочет вывести цифры. Например, вы хотите вывести на экран предложение - "Дайте мне те 2 чудесных пирожных" или "Моя квартира 273". Используем ли мы здесь цифры по их прямому предназначению (+-*/)? Нет! Мы ничего не делим, не складываем, не умножаем и не вычитаем. Мы используем здесь цифры просто как символ информации. При таком использовании - нам, вовсе не нужно, чтобы цифра умела делать все математические операции, нам просто важно, что она указывает на информацию о количестве чего-то.</p>
    <p>Тогда получается так:</p>
    <div class="primer">
    <p>*print(1) - выводит число, это число умеет выполнять операции +-*/<br />*print('1') - выводит 1 как символ информации, оно начинает себя вести как буква<br />*print('hello') - вывод текста/букв, буквы умеют складывать в слова, то есть выполнять операции + и *</p>
    </div>
</div>
{% endblock content%}
